@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-variant: var(--surface-variant);
  --color-primary: #dcb8ff;
  --color-primary-container: #8A2BE2;
  --color-secondary: #00D1FF;
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-border-custom: var(--border-custom);
  --color-success: #ffb873;

  --font-heading: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
}

:root {
  --background: #f8fafc;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --surface: #ffffff;
  --surface-variant: rgba(255, 255, 255, 0.6);
  --border-custom: rgba(15, 23, 42, 0.1);
}

.dark {
  --background: #0B0F19;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --surface: #1e293b;
  --surface-variant: rgba(30, 41, 59, 0.6);
  --border-custom: rgba(255, 255, 255, 0.1);
}

@layer base {
  body {
    @apply bg-background text-text-main font-body m-0 p-0 inset-0 min-h-screen transition-colors duration-300;
  }

  h1, h2, h3 {
    @apply font-heading m-0;
  }
}
